<!-- main/templates/main/all_orders.html -->

{% extends 'main/base.html' %}

{% block title %}Все заказы{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Все ваши заказы!</h2>
    {% if orders.exists %}
        <div class="container text-center">
            <div class="row font-weight-bold">
                <div class="col-6 col-sm-3">ID заказа</div>
                <div class="col-6 col-sm-3">Букет</div>
                <div class="col-6 col-sm-3">Количество</div>
                <div class="col-6 col-sm-3">Общая стоимость</div>
            </div>
            {% for order in orders %}
                <div class="row">
                    <div class="col-6 col-sm-3">{{ order.id }}</div>
                    <div class="col-6 col-sm-3">{{ order.flower.name }}</div>
                    <div class="col-6 col-sm-3">{{ order.quantity }}</div>
                    <div class="col-6 col-sm-3">{{ order.total_price }}</div>
                </div>
            <hr>
            {% endfor %}
        </div>
    {% else %}
        <p>У вас нет заказов.</p>
        <a href="{% url 'catalog' %}" class="btn btn-primary mt-3">Вернуться в каталог</a>
    {% endif %}
</div>
{% endblock %}

