{% extends 'main/base.html' %}
{% load static %}

{% block title %}Магазин цветов{% endblock %}

{% block content %}
    <h1>Добро пожаловать на наш сайт цветов!</h1>

    <div class="content">
        <h5>
            В нашем магазине мы верим, что цветы — это не просто растения, а настоящие посланцы любви и радости.<br>
            Мы гордимся тем, что можем предложить вам широкий ассортимент свежих и ярких цветов, которые подойдут для любого повода: <br>
            от романтического вечера до важного торжества. Каждый букет, созданный нашими флористами, — это произведение искусства,<br>
            которое подарит улыбку вашим близким и украсит любой интерьер.
<p> </p>
            Мы заботимся о качестве нашей продукции, поэтому все цветы поступают к нам только от надежных поставщиков. <br>
            В нашем магазине вы найдете не только классические букеты, но и оригинальные композиции, которые удивят даже самых искушенных ценителей флористики.
<p> </p>
            Приглашаем вас посетить наш магазин и открыть для себя мир красоты и гармонии! <br>
            Только у нас вы сможете воспользоваться специальным предложением: при покупке букета вы получите второй в подарок!<br>
            Не упустите возможность сделать приятное себе или своим близким!
<p> </p>
            Мы ждем вас ежедневно с 9:00 до 20:00.<br>
            Заходите и позвольте нам создать для вас что-то поистине уникальное.<br>
            Ваши эмоции — наша главная награда!
            <br>
        </h5>
        <br><br>
        <h5 class="text-center">Здесь сможете выбрать понравившийся букет и оформить заказ с доставкой.</h5>

        <div class="image-container d-flex justify-content-center">
            <img src="{% static 'main/img/smile.jpeg' %}" alt="Логотип" class="flower-list aside-img img-fluid rounded-circle">
        </div>

    </div>

{% endblock %}