<!-- main/templates/main/order_success.html -->

{% extends 'main/base.html' %}

{% block title %}Успешный заказ{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Ваш заказ успешно создан!</h2>
    <p>Благодарим за заказ. Вот детали вашего заказа:</p>
    <ul>
        <li>Букет: {{ order.flower.name }}</li>
        <li>Количество: {{ order.quantity }}</li>
        <li>Общая стоимость: {{ order.total_price }} ₽</li>
    </ul>
    <a href="{% url 'catalog' %}" class="btn btn-primary mt-3">Вернуться в каталог</a>
</div>
{% endblock %}



